llama-index-llms-huggingface==0.4.0
llama-index-llms-huggingface-api==0.3.0
transformers[torch]
huggingface_hub[inference]
ipykernel==6.29.5
llama-index-llms-llama-cpp==0.3.0
llama-index-embeddings-huggingface==0.4.0
llama-index-llms-ollama==0.4.1
python-dotenv==1.0.1